In [2]:
import os, sys
import pandas as pd, numpy as np

sys.path.append(os.path.join(os.path.abspath(os.path.dirname("")), "..", "ui"))
from utils import (WELL_NAME_HEADER, WELL_TYPE_HEADER, WELL_CONTROL_HEADER,
                 LOWER_BOUND_HEADER, UPPER_BOUND_HEADER, TIME_HEADER, FIXED_HEADERS)

from utils import get_scenario_cols

In [3]:
DATA_PATH = os.path.join(os.path.abspath(os.path.dirname("")), "..", 'data')
DATA_PATH

'/home/csantiago3/dev/dash_table_sandbox/notebooks/../data'

In [15]:
df = pd.read_csv(os.path.join(DATA_PATH,'ForecastControlsTable.csv'))
df.head(2)

,Variable Name - Original,Well Name,Well Type,Well Control,Lower Bound,Upper Bound,Time,Default Scenario,Variable Name - Default Scenario,Scenario 1,Variable Name - Scenario 1,Scenario 2,Variable Name - Scenario 2
0,$P1_BHP_0001_1,P1,Producer,BHP,500,2000,60,1500,$P1_BHP_0001_1,750,$P1_BHP_0001_1,2000,$P1_BHP_0001_1
1,$P1_BHP_0002_1,P1,Producer,BHP,500,2000,120,1500,$P1_BHP_0002_1,750,$P1_BHP_0002_1,2000,$P1_BHP_0002_1

In [27]:
df[[LOWER_BOUND_HEADER, UPPER_BOUND_HEADER]].mean(axis=1).values

array([ 1250.,  1250.,  1250.,  1250.,  1250.,  1250.,  1250.,  1250.,
        1250.,  1250.,  1250.,  1250.,  1250.,  1250.,  1250.,  1250.,
        1250.,  1250.,  1250.,  1250.,  3000.,  3000.,  3000.,  3000.,
        3000.,  3000.,  3000.,  3000.,  3000.,  3000.,  3000.,  3000.,
        3000.,  3000.,  3000.,  3000.,  3000.,  3000.,  3000.,  3000.,
        1250.,  1250.,  1250.,  1250.,  1250.,  1250.,  1250.,  1250.,
        1250.,  1250.,  1250.,  1250.,  1250.,  1250.,  1250.,  1250.,
        1250.,  1250.,  1250.,  1250.,  3000.,  3000.,  3000.,  3000.,
        3000.,  3000.,  3000.,  3000.,  3000.,  3000.,  3000.,  3000.,
        3000.,  3000.,  3000.,  3000.,  3000.,  3000.,  3000.,  3000.,
        1250.,  1250.,  1250.,  1250.,  1250.,  1250.,  1250.,  1250.,
        1250.,  1250.,  1250.,  1250.,  1250.,  1250.,  1250.,  1250.,
        1250.,  1250.,  1250.,  1250.,  4000.,  4000.,  4000.,  4000.,
        4000.,  4000.,  4000.,  4000.,  4000.,  4000.,  4000.,  4000.,
        4000.,  4000.,  4000.,  4000.,  4000.,  4000.,  4000.,  4000.,
       15000., 15000., 15000., 15000., 15000., 15000., 15000., 15000.,
       15000., 15000., 15000., 15000., 15000., 15000., 15000., 15000.,
       15000., 15000., 15000., 15000.,  4000., 15000.,  4000., 15000.,
        4000., 15000.,  4000., 15000.,  4000., 15000.,  4000., 15000.,
        4000., 15000.,  4000., 15000.,  4000., 15000.,  4000., 15000.,
       10000., 10000., 10000., 10000., 10000., 10000., 10000., 10000.,
       10000., 10000.,  6000.,  6000.,  6000.,  6000.,  6000.,  6000.,
        6000.,  6000.,  6000.,  6000.])

In [18]:
df.reset_index(drop=True, inplace=True)
df

,Variable Name - Original,Well Name,Well Type,Well Control,Lower Bound,Upper Bound,Time,Default Scenario,Variable Name - Default Scenario,Scenario 1,Variable Name - Scenario 1,Scenario 2,Variable Name - Scenario 2
0,$P1_BHP_0001_1,P1,Producer,BHP,500,2000,60,1500,$P1_BHP_0001_1,750,$P1_BHP_0001_1,2000,$P1_BHP_0001_1
1,$P1_BHP_0002_1,P1,Producer,BHP,500,2000,120,1500,$P1_BHP_0002_1,750,$P1_BHP_0002_1,2000,$P1_BHP_0002_1
2,$P1_BHP_0003_1,P1,Producer,BHP,500,2000,180,1500,$P1_BHP_0003_1,750,$P1_BHP_0003_1,2000,$P1_BHP_0003_1
3,$P1_BHP_0004_1,P1,Producer,BHP,500,2000,240,1500,$P1_BHP_0004_1,750,$P1_BHP_0004_1,2000,$P1_BHP_0004_1
4,$P1_BHP_0005_1,P1,Producer,BHP,500,2000,300,1500,$P1_BHP_0005_1,750,$P1_BHP_0005_1,2000,$P1_BHP_0005_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,$I4_WIR_0006_1,I4,Injector,WIR,2000,10000,960,4000,$I4_WIR_0006_1,2000,$I4_WIR_0006_1,4000,$I4_WIR_0006_1
176,$I4_WIR_0007_1,I4,Injector,WIR,2000,10000,1020,4000,$I4_WIR_0007_1,2200,$I4_WIR_0007_1,3400,$I4_WIR_0007_1
177,$I4_WIR_0008_1,I4,Injector,WIR,2000,10000,1080,4000,$I4_WIR_0008_1,2400,$I4_WIR_0008_1,2800,$I4_WIR_0008_1
178,$I4_WIR_0009_1,I4,Injector,WIR,2000,10000,1140,4000,$I4_WIR_0009_1,2600,$I4_WIR_0009_1,2200,$I4_WIR_0009_1
179,$I4_WIR_0010_1,I4,Injector,WIR,2000,10000,1200,4000,$I4_WIR_0010_1,2800,$I4_WIR_0010_1,1600,$I4_WIR_0010_1

In [26]:
df.loc[df[WELL_NAME_HEADER] == 'I4', ["Lower Bound", "Upper Bound"]]

     Lower Bound  Upper Bound
160         5000        15000
161         5000        15000
162         5000        15000
163         5000        15000
164         5000        15000
165         5000        15000
166         5000        15000
167         5000        15000
168         5000        15000
169         5000        15000
170         2000        10000
171         2000        10000
172         2000        10000
173         2000        10000
174         2000        10000
175         2000        10000
176         2000        10000
177         2000        10000
178         2000        10000
179         2000        10000

In [21]:
abc = df[df.index == 3][["Lower Bound", "Upper Bound"]]
abc

   Lower Bound  Upper Bound
3          500         2000

In [24]:
abc['Lower Bound'].values[0]

np.int64(500)

In [9]:
df["Variable Name - Original"].map(lambda x: x.replace("$", "\$"))

0      \$P1_BHP_0001_1
1      \$P1_BHP_0002_1
2      \$P1_BHP_0003_1
3      \$P1_BHP_0004_1
4      \$P1_BHP_0005_1
            ...
175    \$I4_WIR_0006_1
176    \$I4_WIR_0007_1
177    \$I4_WIR_0008_1
178    \$I4_WIR_0009_1
179    \$I4_WIR_0010_1
Name: Variable Name - Original, Length: 180, dtype: object

In [14]:
def well_agg_main_table(x):
    all_equal = all(abs(item - x.iloc[0])<1e-10 for item in x.values)
    if all_equal: return x.iloc[0]
    else: return "varying"

In [17]:
well_agg_main_table(array_1)

'varying'

In [18]:
well_agg_main_table(array_2)

np.int64(30)

In [20]:
scenario_columns = get_scenario_cols(df)
cols = [WELL_NAME_HEADER, WELL_TYPE_HEADER, WELL_CONTROL_HEADER] + scenario_columns

In [26]:
df_main = df[cols].groupby(by=[WELL_NAME_HEADER,WELL_TYPE_HEADER, WELL_CONTROL_HEADER])[scenario_columns].agg(func=well_agg_main_table).reset_index()

In [27]:
df_main

  Well Name Well Type Well Control Default Scenario Scenario 1 Scenario 2
0        I1  Injector          WIR             5000       2000       8000
1        I2  Injector          WIR             3000       1000       6000
2        I3  Injector          WIR          varying    varying    varying
3        I4  Injector          WIR          varying    varying    varying
4        P1  Producer          BHP             1500        750       2000
5        P2  Producer          BHP             1200        500       1500
6        P3  Producer          BHP             1000        400       1100
7        P4  Producer          BHP             1700    varying    varying
8        P5  Producer          BHP              600    varying    varying

In [44]:
df.columns

Index(['Well Name', 'Well Type', 'Well Control', 'LowerBound', 'UpperBound',
       'Time', 'Default Scenario', 'Scenario 1', 'Scenario 2'],
      dtype='object')

In [45]:
for c in df.columns:
    if c not in FIXED_HEADERS:
        break

print(c)

Default Scenario

In [46]:
pd.DataFrame(columns=["a", "b"])

Empty DataFrame
Columns: [a, b]
Index: []

In [18]:
df_avg = df.groupby(by='Well').aggregate(func='mean').reset_index()
df_avg.head(3)

  Well  Time  Scenario 1  Scenario 2  Scenario 3
0   I1  55.0    0.575018    0.544833    0.544833
1   I2  55.0    0.573676    0.691033    0.691033
2   I3  55.0    0.573008    0.538980    0.538980

In [32]:
columns = [{'id': 'index', 'name': ''}]
columns

[{'id': 'index', 'name': ''}]

In [34]:
open_eye = '<i class="fa-regular fa-eye"></i>'

In [33]:
columns.extend([{'id': c, 'name': c} for c in df_avg.columns])
columns

[{'id': 'index', 'name': ''},
 {'id': 'Well', 'name': 'Well'},
 {'id': 'Time', 'name': 'Time'},
 {'id': 'Scenario 1', 'name': 'Scenario 1'},
 {'id': 'Scenario 2', 'name': 'Scenario 2'},
 {'id': 'Scenario 3', 'name': 'Scenario 3'}]

In [27]:
from dash import html
import dash_bootstrap_components as dbc

In [35]:
df_avg.index = len(df_avg)*[open_eye]
df_avg

,Well,Time,Scenario 1,Scenario 2,Scenario 3
"<i class=""fa-regular fa-eye""></i>",I1,55.0,0.575018,0.544833,0.544833
"<i class=""fa-regular fa-eye""></i>",I2,55.0,0.573676,0.691033,0.691033
"<i class=""fa-regular fa-eye""></i>",I3,55.0,0.573008,0.538980,0.538980
"<i class=""fa-regular fa-eye""></i>",I4,55.0,0.571061,0.578947,0.578947
"<i class=""fa-regular fa-eye""></i>",I5,55.0,0.460766,0.488578,0.488578
"<i class=""fa-regular fa-eye""></i>",I6,55.0,0.411820,0.596112,0.596112
"<i class=""fa-regular fa-eye""></i>",I7,55.0,0.361851,0.400099,0.400099
"<i class=""fa-regular fa-eye""></i>",I8,55.0,0.358112,0.463465,0.463465

In [52]:
temd_dict = {}
[temd_dict.update({c:1}) for c in df_avg.columns if 'Scenario' in c]

[None, None, None]

In [54]:
columns = [{'id': 'icon', 'name': '', "presentation": "markdown"}]
columns.extend([{'id': c, 'name': c} for c in df_avg.columns[1:]])
columns

[{'id': 'icon', 'name': '', 'presentation': 'markdown'},
 {'id': 'Time', 'name': 'Time'},
 {'id': 'Scenario 1', 'name': 'Scenario 1'},
 {'id': 'Scenario 2', 'name': 'Scenario 2'},
 {'id': 'Scenario 3', 'name': 'Scenario 3'}]

In [55]:
[col_dict.update({'editable':True}) for col_dict in columns if 'Scenario' in col_dict['name']]
columns

[{'id': 'icon', 'name': '', 'presentation': 'markdown'},
 {'id': 'Time', 'name': 'Time'},
 {'id': 'Scenario 1', 'name': 'Scenario 1', 'editable': True},
 {'id': 'Scenario 2', 'name': 'Scenario 2', 'editable': True},
 {'id': 'Scenario 3', 'name': 'Scenario 3', 'editable': True}]

In [53]:
[col_dict.update({'editable':True}) for col_dict in columns if 'Scenario' in col_dict['name']]

{'Scenario 1': 1, 'Scenario 2': 1, 'Scenario 3': 1}

In [49]:
temd_dict

{'c': 1}

In [41]:
df_avg.round([{c:1} for c in df_avg.columns if 'Scenario' in c])

TypeError: decimals must be an integer, a dict-like or a Series

In [40]:
[{c:1} for c in df_avg.columns if 'Scenario' in c]

{'Scenario 1': 1}

In [12]:
df[df['Well'] == 'I1']

  Well  Time  Scenario 1  Scenario 2  Scenario 3
0   I1    10    0.489160    0.496553    0.496553
1   I1    20    0.674628    0.374589    0.374589
2   I1    30    0.016473    0.927991    0.927991
3   I1    40    0.340992    0.429115    0.429115
4   I1    50    0.930510    0.498454    0.498454
5   I1    60    0.877081    0.482782    0.482782
6   I1    70    0.920644    0.955906    0.955906
7   I1    80    0.605360    0.278903    0.278903
8   I1    90    0.278672    0.388817    0.388817
9   I1   100    0.616658    0.615216    0.615216

In [13]:
pd.DataFrame(df.to_dict())

   Well  Time  Scenario 1  Scenario 2  Scenario 3
0    I1    10    0.489160    0.496553    0.496553
1    I1    20    0.674628    0.374589    0.374589
2    I1    30    0.016473    0.927991    0.927991
3    I1    40    0.340992    0.429115    0.429115
4    I1    50    0.930510    0.498454    0.498454
..  ...   ...         ...         ...         ...
75   I8    60    0.337447    0.052172    0.052172
76   I8    70    0.002029    0.897945    0.897945
77   I8    80    0.899005    0.811502    0.811502
78   I8    90    0.137603    0.372567    0.372567
79   I8   100    0.045052    0.380271    0.380271

[80 rows x 5 columns]