In [7]:
import os
import pandas as pd, numpy as np

from ui.utils import (WELL_NAME_HEADER, WELL_TYPE_HEADER, WELL_CONTROL_HEADER,
                 LOWER_BOUND_HEADER, UPPER_BOUND_HEADER, TIME_HEADER, FIXED_HEADERS)

In [8]:
DATA_PATH = os.path.join(os.path.dirname(""), 'data')
DATA_PATH

'data'

In [9]:
df = pd.read_csv(os.path.join(DATA_PATH,'ForecastScenarios.csv'))
df.head(2)

,Well Name,Well Type,Well Control,LowerBound,UpperBound,Time,Default Scenario,Scenario 1,Scenario 2
0,P1,Producer,BHP,500,2000,60,1500,750,2000
1,P1,Producer,BHP,500,2000,120,1500,750,2000

In [10]:
df[WELL_NAME_HEADER].unique()

array(['P1', 'P2', 'P3', 'P4', 'P5', 'I1', 'I2', 'I3', 'I4'], dtype=object)

In [14]:
array_1 = pd.Series([10, 20, 30])
array_2 = pd.Series([30, 30, 30])

In [31]:
def check_all_equal(x: pd.Series):
    all_equal = all((item - x.iloc[0])<1e-10 for item in x.values)
    if all_equal: return x.iloc[0]
    else: return "varying"

In [41]:
def well_agg_main_table(x):
    all_equal = all(abs(item - x.iloc[0])<1e-10 for item in x.values)
    if all_equal: return x.iloc[0]
    else: return "varying"

In [34]:
well_agg_main_table(array_1)

'varying'

In [35]:
well_agg_main_table(array_2)

np.int64(30)

In [12]:
scenario_columns = [col for col in df.columns if col not in FIXED_HEADERS]
cols = [WELL_NAME_HEADER] + scenario_columns
cols

['Well Name', 'Default Scenario', 'Scenario 1', 'Scenario 2']

In [46]:
all(df['Scenario 1'] > df['LowerBound'])

False

In [48]:
df.groupby(by=WELL_NAME_HEADER).apply(func=lambda x: all(x['Scenario 1'] > x['LowerBound']))

/tmp/ipykernel_26123/3366015460.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby(by=WELL_NAME_HEADER).apply(func=lambda x: all(x['Scenario 1'] > x['LowerBound']))

Well Name
I1     True
I2     True
I3     True
I4     True
P1     True
P2    False
P3    False
P4     True
P5    False
dtype: bool

In [42]:
df[cols].groupby(by=WELL_NAME_HEADER).agg(func=well_agg_main_table)

    Well Name  Default Scenario  Scenario 1  Scenario 2
100        I1              5000        2000        8000
101        I1              5000        2000        8000
102        I1              5000        2000        8000
103        I1              5000        2000        8000
104        I1              5000        2000        8000
105        I1              5000        2000        8000
106        I1              5000        2000        8000
107        I1              5000        2000        8000
108        I1              5000        2000        8000
109        I1              5000        2000        8000
110        I1              5000        2000        8000
111        I1              5000        2000        8000
112        I1              5000        2000        8000
113        I1              5000        2000        8000
114        I1              5000        2000        8000
115        I1              5000        2000        8000
116        I1              5000        2000        8000
117        I1              5000        2000        8000
118        I1              5000        2000        8000
119        I1              5000        2000        8000
     Default Scenario  Scenario 1  Scenario 2
100              5000        2000        8000
101              5000        2000        8000
102              5000        2000        8000
103              5000        2000        8000
104              5000        2000        8000
105              5000        2000        8000
106              5000        2000        8000
107              5000        2000        8000
108              5000        2000        8000
109              5000        2000        8000
110              5000        2000        8000
111              5000        2000        8000
112              5000        2000        8000
113              5000        2000        8000
114              5000        2000        8000
115              5000        2000        8000
116              5000        2000        8000
117              5000        2000        8000
118              5000        2000        8000
119              5000        2000        8000

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [40]:
df[cols].groupby(by=WELL_NAME_HEADER).agg(func=well_agg_main_table).reset_index()

  Well Name Default Scenario Scenario 1 Scenario 2
0        I1             5000       2000       8000
1        I2             3000       1000       6000
2        I3          varying    varying       7500
3        I4             4000    varying       9000
4        P1             1500        750       2000
5        P2             1200        500       1500
6        P3             1000        400       1100
7        P4             1700    varying    varying
8        P5              600    varying       2500

In [44]:
df.columns

Index(['Well Name', 'Well Type', 'Well Control', 'LowerBound', 'UpperBound',
       'Time', 'Default Scenario', 'Scenario 1', 'Scenario 2'],
      dtype='object')

In [45]:
for c in df.columns:
    if c not in FIXED_HEADERS:
        break

print(c)

Default Scenario

In [46]:
pd.DataFrame(columns=["a", "b"])

Empty DataFrame
Columns: [a, b]
Index: []

In [18]:
df_avg = df.groupby(by='Well').aggregate(func='mean').reset_index()
df_avg.head(3)

  Well  Time  Scenario 1  Scenario 2  Scenario 3
0   I1  55.0    0.575018    0.544833    0.544833
1   I2  55.0    0.573676    0.691033    0.691033
2   I3  55.0    0.573008    0.538980    0.538980

In [32]:
columns = [{'id': 'index', 'name': ''}]
columns

[{'id': 'index', 'name': ''}]

In [34]:
open_eye = '<i class="fa-regular fa-eye"></i>'

In [33]:
columns.extend([{'id': c, 'name': c} for c in df_avg.columns])
columns

[{'id': 'index', 'name': ''},
 {'id': 'Well', 'name': 'Well'},
 {'id': 'Time', 'name': 'Time'},
 {'id': 'Scenario 1', 'name': 'Scenario 1'},
 {'id': 'Scenario 2', 'name': 'Scenario 2'},
 {'id': 'Scenario 3', 'name': 'Scenario 3'}]

In [27]:
from dash import html
import dash_bootstrap_components as dbc

In [35]:
df_avg.index = len(df_avg)*[open_eye]
df_avg

,Well,Time,Scenario 1,Scenario 2,Scenario 3
"<i class=""fa-regular fa-eye""></i>",I1,55.0,0.575018,0.544833,0.544833
"<i class=""fa-regular fa-eye""></i>",I2,55.0,0.573676,0.691033,0.691033
"<i class=""fa-regular fa-eye""></i>",I3,55.0,0.573008,0.538980,0.538980
"<i class=""fa-regular fa-eye""></i>",I4,55.0,0.571061,0.578947,0.578947
"<i class=""fa-regular fa-eye""></i>",I5,55.0,0.460766,0.488578,0.488578
"<i class=""fa-regular fa-eye""></i>",I6,55.0,0.411820,0.596112,0.596112
"<i class=""fa-regular fa-eye""></i>",I7,55.0,0.361851,0.400099,0.400099
"<i class=""fa-regular fa-eye""></i>",I8,55.0,0.358112,0.463465,0.463465

In [52]:
temd_dict = {}
[temd_dict.update({c:1}) for c in df_avg.columns if 'Scenario' in c]

[None, None, None]

In [54]:
columns = [{'id': 'icon', 'name': '', "presentation": "markdown"}]
columns.extend([{'id': c, 'name': c} for c in df_avg.columns[1:]])
columns

[{'id': 'icon', 'name': '', 'presentation': 'markdown'},
 {'id': 'Time', 'name': 'Time'},
 {'id': 'Scenario 1', 'name': 'Scenario 1'},
 {'id': 'Scenario 2', 'name': 'Scenario 2'},
 {'id': 'Scenario 3', 'name': 'Scenario 3'}]

In [55]:
[col_dict.update({'editable':True}) for col_dict in columns if 'Scenario' in col_dict['name']]
columns

[{'id': 'icon', 'name': '', 'presentation': 'markdown'},
 {'id': 'Time', 'name': 'Time'},
 {'id': 'Scenario 1', 'name': 'Scenario 1', 'editable': True},
 {'id': 'Scenario 2', 'name': 'Scenario 2', 'editable': True},
 {'id': 'Scenario 3', 'name': 'Scenario 3', 'editable': True}]

In [53]:
[col_dict.update({'editable':True}) for col_dict in columns if 'Scenario' in col_dict['name']]

{'Scenario 1': 1, 'Scenario 2': 1, 'Scenario 3': 1}

In [49]:
temd_dict

{'c': 1}

In [41]:
df_avg.round([{c:1} for c in df_avg.columns if 'Scenario' in c])

TypeError: decimals must be an integer, a dict-like or a Series

In [40]:
[{c:1} for c in df_avg.columns if 'Scenario' in c]

{'Scenario 1': 1}

In [12]:
df[df['Well'] == 'I1']

  Well  Time  Scenario 1  Scenario 2  Scenario 3
0   I1    10    0.489160    0.496553    0.496553
1   I1    20    0.674628    0.374589    0.374589
2   I1    30    0.016473    0.927991    0.927991
3   I1    40    0.340992    0.429115    0.429115
4   I1    50    0.930510    0.498454    0.498454
5   I1    60    0.877081    0.482782    0.482782
6   I1    70    0.920644    0.955906    0.955906
7   I1    80    0.605360    0.278903    0.278903
8   I1    90    0.278672    0.388817    0.388817
9   I1   100    0.616658    0.615216    0.615216

In [13]:
pd.DataFrame(df.to_dict())

   Well  Time  Scenario 1  Scenario 2  Scenario 3
0    I1    10    0.489160    0.496553    0.496553
1    I1    20    0.674628    0.374589    0.374589
2    I1    30    0.016473    0.927991    0.927991
3    I1    40    0.340992    0.429115    0.429115
4    I1    50    0.930510    0.498454    0.498454
..  ...   ...         ...         ...         ...
75   I8    60    0.337447    0.052172    0.052172
76   I8    70    0.002029    0.897945    0.897945
77   I8    80    0.899005    0.811502    0.811502
78   I8    90    0.137603    0.372567    0.372567
79   I8   100    0.045052    0.380271    0.380271

[80 rows x 5 columns]