In [9]:
import os, sys
import pandas as pd, numpy as np

In [10]:
WELL_NAME_HEADER = "Well Name"
WELL_TYPE_HEADER = "Well Type"

In [5]:
DATA_PATH = os.path.join(os.path.abspath(os.path.dirname("")), "..", 'data')
DATA_PATH

'/home/csantiago3/dev/dash_table_sandbox/notebooks/../data'

In [6]:
df = pd.read_csv(os.path.join(DATA_PATH,'OptimizationVariablesTable.csv'))
df.head(2)

,Variable Name - Original,Variable Name,Well Name,Well Type,Well Control,Lower Bound,Upper Bound,Time,Initial Value,Standard Deviation,Correlation Length
0,$P1_BHP_0001_1,$P1_BHP_0001_1,P1,Producer,BHP,500,2000,60,1500,0.02,6
1,$P1_BHP_0002_1,$P1_BHP_0002_1,P1,Producer,BHP,500,2000,120,1500,0.02,6

In [13]:
df[WELL_NAME_HEADER]

0      P1
1      P1
2      P1
3      P1
4      P1
       ..
175    I4
176    I4
177    I4
178    I4
179    I4
Name: Well Name, Length: 180, dtype: object

In [ ]:
df[[WELL_NAME_HEADER, WELL_TYPE_HEADER]].groupby(by=[WELL_NAME_HEADER]).first()

           Well Type
Well Name
I1              True
I2              True
I3              True
I4              True
P1              True
P2              True
P3              True
P4              True
P5              True